.container {
  width: 400px;
  .bread-top-layer {
    height: 100px;
    background-color: orange;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .salada-layer {
    height: 50px;
    background-color: green;
  }
  .steak-layer {
    height: 50px;
    background-color: red;
  }
  .cheese-layer {
    height: 70px;
    background-color: yellow;
  }
  .bread-bot-layer {
    height: 100px;
    background-color: orange;
  }
}
