<div class="container">
  <div class="bread-top-layer">A</div>
  <div class="salada-layer">B</div>
  <div class="steak-layer">C</div>
  <div class="cheese-layer">D</div>
  <div class="bread-bot-layer">E</div>

  <div class="counter">
    <div class="add">add
    <button class="salada" (click)="onClick()">salada</button>
    <button class="cheese"></button>
    <button class="steak"></button>
  </div>
    <div class="remove">remove

      <button class="salada"></button>
      <button class="cheese"></button>
      <button class="steak"></button>
    </div>
  </div>
</div>

<!--
Add
  salada
  cheese
  steak

remove
  salada
  cheese
  steak
-->
